<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>mobilemoney</name>
    <displayName><![CDATA[Mobile Money Payment]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Accept payments via MTN Mobile Money and Airtel Money]]></description>
    <author><![CDATA[Bakunga Bronson]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
    <confirmUninstall><![CDATA[Are you sure you want to uninstall this module?]]></confirmUninstall>
</module>